@import 'base.less';
@import 'button.less';
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* typo */


body, input, select, textarea, button { font-family: 'PT Sans Narrow', sans-serif; font-weight: 400; .text-black(); letter-spacing: 0.1em;}
abbr, acronym, dfn { font-variant: normal; border-bottom: 1px solid #E5E5E5; cursor: help; }

h1 {
    font-size: 2em;
	margin-bottom: 0.67em;
}

h1 + hr {
  margin-top: -0.67em;
}

h2 {
    font-size: 1.5em;
	margin-bottom: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: 0.83em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 0.67em;
    margin-bottom: 2.33em;
}

a { text-decoration: none; color: #336699; }
hr {
  border: 0;
  height: 3px;
  .background-gradient(left, rgba(251,250,252,0), rgba(251,250,252,1), rgba(251,250,252,0));
  width: 35%;
  margin-bottom: 1em;
 }

abbr { }
strong, b { font-weight: bold; }
small { font-size: 82%; line-height: 130%; }

p, ul, ol {  margin-bottom: 1.33em; }
ul ul, ol ol { margin-bottom: inherit;}

img[align=left] {

}
img[align=right] {

}
.background-white {
  background-color: #fbfafc;
}
.background-blue {
  background-color: #336699;
}
.text-blue {
  color: #336699;
}
.text-white {
  color: #fbfafc;
}
.text-black {
  color: #333333;
}
.lead {
  font-size: 1.2em;
}

/* Mixins */
.box-sizing(@type) {
  -moz-box-sizing: @type;
  -webkit-box-sizing: @type;
  box-sizing: @type;
}
.background-gradient(@direction, @color1, @color2, @color3) {
  background-image: -webkit-linear-gradient(@direction, @color1, @color2, @color3);
  background-image: -moz-linear-gradient(@direction, @color1, @color2, @color3);
  background-image: -ms-linear-gradient(@direction, @color1, @color2, @color3);
  background-image: -o-linear-gradient(@direction, @color1, @color2, @color3);
}
.transition(@params: all 2s ease-in 0s) {
  transition: @params; /* explorer 10 */
  -webkit-transition: @params; /* chrome & safari */
  -moz-transition: @params; /* firefox */
  -o-transition: @params; /* opera */
}

.transform-rotate(@deg: 90deg) {
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}


/* Layout */
html, body, main { width: 100%; height: 100%;}
header, main, footer { display: block; }
body { position: relative; }
#wrapper { width: 100%; min-width: 960px; .background-white();}

header {
  position: relative;
  z-index: 2;
  height: 50px;
  border-bottom: 2px solid #336699;
  background-color: #fbfafc;
  .box-sizing(border-box);
  padding: 15px 34px 0px 34px;

	#logo {
    float: left;
    text-transform: uppercase;
    #suffix {
      text-transform: lowercase;
    }
	}
  .logo-vertical {
    position: fixed;
    top: 0px;
    left: 24px;
    z-index: 10;
    padding: 10px;
    .transition(all .5s ease-in 0s);
    .background-white();
    //.transform-rotate();
  }
  .logo-vertical-1 {
    top: 15px;
    left: 20px;
    border-radius: 10px;
    .transform-rotate(30deg);
  }
  .logo-vertical-2 {
    top: 30px;
    left: 14px;
    border-radius: 5px;
    .transform-rotate(60deg);
  }
  .logo-vertical-3 {
    top: 62px;
    left: 0px;
    border-radius: 0px;
    .transform-rotate(90deg);
  }
  nav, ul {
    height: 100%;
  }
	nav {
    float: right;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        .transition(all .5s ease-in 0s);
        a {
          .text-black();
        }
      }
      li:hover {
        height: calc(100% - 24px);
        border-bottom: 8px solid #336699;
        a {
          .text-blue();
        }
      }
    }
	}
}


main {
  padding-top: 230px;
	section {
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    .box-sizing(border-box);
    .text-white();
    #full_width_background {
      width: 100%;
      height: 100%;
      padding-top: 160px;

    }
    h1 {
      font-size: 2.938em;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.1em;
    }
    a {
      .text-white();
    }
    aside {
      display: none; //just for now, add this later.
    }
    .lead  {
      margin-bottom: 60px;
    }
    .btn {
      position: relative;
      font-size: 1.3em;
      text-transform: uppercase;
      padding: 6px 35px;
      border-radius: 4px;
      .btn-background {
        position: absolute;
        top: 0;
        height: 100%;
        width: 0%;
        .background-blue();
        z-index: -5;
        .transition(width .5s ease-in 0s);
      }
      .btn-background-top {
        left: 0;

      }
      .btn-background-bottom {
        right: 0;
      }
    }
    .btn:hover {
      .btn-background-top {
        width: 50%;

      }
      .btn-background-bottom {
        width: 50%;
      }

    }
    #triangle-down {
    	width: 0;
    	height: 0;
    	border-left: 50px solid transparent;
    	border-right: 50px solid transparent;
    	border-top: 100px solid red;
    }
    #background_image{
      display: none;
    }
	}
  #content-wrapper {
    background-color: #fbfafc;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 35%;
    padding-top: 40px;
    //margin-bottom: 40px;

    article {
      width: 625px;
      margin-left: auto;
      margin-right: auto;
      min-height: 800px;
      position: relative;
      .slide_left {
        .transition(all .5s ease-in 0s);
        position: relative;
        left: 0;
      }
      .slide_left.off {
        left: -50%;
        opacity: 0;
      }
      .slide_right {
        .transition(all .5s ease-in 0s);
        position: relative;
        right: 0;
      }
      .slide_right.off {
        right: -50%;
        opacity: 0;
      }
    }
  }
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  z-index: 10;
  text-align: center;
  .background-white();
  font-size: 0.8em;
  ul {
    border-top: 1px solid #336699;
    padding: 5px;
    width:100%;
    opacity: .3;
   .transition(opacity .5s ease-in 0s);
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
      a {
        .text-black();
        .transition(color .5s ease-in 0s);
      }
      a:hover {
        .text-blue();
      }
    }
  }
}
footer:hover {
  ul {
    opacity: 1;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 1.5em;
  right: 1em;
  font-size: 3em;
  .text-blue();
  z-index: 30;
  display: none;
  cursor: pointer;
}


@media screen and (orientation:portrait),
screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1),
screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2),
screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2),
screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait),
screen and (max-width: 625px) {

  #wrapper { min-width: inherit; }
  main {
    #content-wrapper {
      .box-sizing(border-box);
      padding-left: 15px;
      padding-right: 15px;
      article {
        width: 100%;
      }
    }
  }
}
